DATABASE_URL="postgresql://postgres:diabolics%40052819@db.doaruyqqzuvmgpoppadu.supabase.co:5432/postgres"

QDRANT_URL="https://49415c76-e158-4a30-9d0f-45310e036e7a.us-east-2-0.aws.cloud.qdrant.io:6333"
QDRANT_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwic3ViamVjdCI6ImFwaS1rZXk6ODUxODMwMWYtMTZmZS00NDM3LWIxMGQtNmMzZDdhOTRlMmUyIn0.t9c_bN7eW9XTDCe48_4zG9ed1IYskrLPOqBwwxF_RnY"